*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background:linear-gradient(#ffffff,#e7fdfb,#ffffff);
}
.gfback{
	display: flex;
	background: #b8faf2;
	
}
.gf{
	width: 70px;
	height: 80px;
	position: absolute;
	margin-left: 89%;
	animation: slide_right 0.5s linear forwards;
  	animation-delay: 0.2s;
  	opacity: 0;
}
@keyframes slide_right
{
  0%
  {
    transform: translateX(100px);
    opacity: 0;
  }
  100%
  {
     transform: translateX(0px);
    opacity: 1;
  }
}
.doggie{
	height: 199px;
	position:absolute;
	margin-left: 60%;
}
.hd 
{
	font-family: "showcard gothic";
	color: #61f3e1;
	font-size: 4rem;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.4rem;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 20px;
	text-shadow:  5px 3px 12px #61f3e1;
	-webkit-text-stroke-width:4px;
	-webkit-text-stroke-color:black;
	font-weight: 900;
	font-style: normal;
	background-size: 100% 10%;
	animation: slide_left 0.5s linear forwards;
  	animation-delay: 0.2s;
 	 opacity: 0;
}
@keyframes slide_left
{
  0%
  {
    transform: translateX(-100px);
    opacity: 0;
  }
  100%
  {
     transform: translateX(0px);
    opacity: 1;
  }
}
.nevi{
	list-style-type:none;
	background-color:#0dbfaa;
	overflow:hidden;
	width: 18%;
	margin-left: 82%;
}
.vet{
	text-decoration:none;
	padding:15px 18px;
	color:white;
	display:block;
	font-size: 20px;
	font-family:sans-serif;
	font-style: oblique;
	letter-spacing: 1px;
	text-align: center;
}
.topic {
	font-family: 'Itim', cursive;;
	font-size: 4rem;
	font-weight: 500px;
	text-align: center;
	letter-spacing: 5px;
	color: #05473f;
	text-shadow:  5px 3px 12px #61f3e1;
	margin-top: 5%;
	animation: fade_in 3s linear forwards;
 	animation-delay: 0.2s;
}
@keyframes fade_in
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
.loc{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.08rem;
	color: #16c2d5;
	padding-top: 20px;
	padding-bottom: 10%;

}


