*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e9d3ff;
}
header{
   background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-pet-simple-white-banner-image_171910.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid white;
    background: #d893f1;
    transform: 0.6s ease;
    font-size: 15px;
}
ul li a:hover{
    background: #af3dd8;
    color: white;
}
ul li.active a{
    background: #af3dd8;
    color: white;
}
.title{
    position: absolute;
    top: 25%;
    left: 300px;
    color: #D278F2;
    font-family: "showcard Gothic";
    width: 200%;
    font-size: 50px;
	  -webkit-text-stroke-width:7px;
	  -webkit-text-stroke-color:black;
	  font-style: normal;
   
}
