*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e9d3ff;
	
}
/* Hero */
.hero{
    background: linear-gradient(rgba(235, 196, 236, 0.4), rgba(232, 195, 240, 0.4)),url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-pet-simple-white-banner-image_171910.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.hero .content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d1ccd3;
    
}
/* Head topic*/
.hero .content h1{
    font-size: 100px;
    font-weight: 400;
    color: #D278F2;
    font-family: "showcard Gothic";
	-webkit-text-stroke-width:7px;
	-webkit-text-stroke-color:black;
	font-style: normal;
}
/* Categories */
.categories {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.categories h1{
    font-size: 3rem;
}
.row {
    margin-top: 4%;        
    display: flex;
    justify-content: space-between;
}
.categories-col {
    flex-basis: 42%;
    border-radius: 20px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 25px 15px;
    box-sizing: border-box;

}
.categories-col img { 
    object-fit: cover;       
    width: 100%;
    height: 100%;
    display: block;
}   
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover {
    background: rgba(219, 152, 233, 0.7);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(15, 1, 15);
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
/* Pet sale*/
h2{
    margin-top: 8%;
    text-align: center;
    font-family: "showed Gothic";
    width: 100%;
    color: #D278F2;
    font-size: 70px;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #501266;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://www.hornsby.nsw.gov.au/__data/assets/image/0017/123623/pet-registration.jpg);
    background-size: cover;
    width: 1200px;
    left: 12%;
    background-position: center;
    height: 70vh;
    
}
.banner .content{
    max-width: 1000px;
    text-align: center;
}
.banner .content h3{
    font-size: 4rem;
    color: #020003;
}
.banner .content h3:hover{
    font-size: 5rem;
}
.banner .content p{
    font-size: 2rem;
    color: #040005;
}
.btn{
    font-size: 30px;
    color: #040005;
    background: #b985cc;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    
}
.btn:hover{
    letter-spacing: 6px;


}
/* Pet crossing */
.banner1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://express-images.franklymedia.com/3922/2019/02/08125139/dog-love.jpg);
    background-size: cover;
    width: 1200px;
    left: 12%;
    background-position: center;
    height: 70vh;
    
} 
.banner1 .content{
    max-width: 1000px;
    text-align: center;
}
.banner1 .content h3{
    font-size: 4rem;
    color: #020003;
}
.banner1 .content h3:hover{
    font-size: 5rem;
}
.banner1 .content p{
    font-size: 2rem;
    color: #040005;

}
/* Footer */
footer{
    background: #09000c;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #e3d4e9;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: none;
    color: #f5f2f7;

}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
socials a:hover i{
    color: #a78db1;
}


