*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e9d3ff;
	
}
/* Hero */
.hero{
    background: linear-gradient(rgba(235, 196, 236, 0.4), rgba(232, 195, 240, 0.4)),url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-pet-simple-white-banner-image_171910.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.hero .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d1ccd3;
    
}
/* Head topic*/
.hero .content h1{
    font-size: 100px;
    font-weight: 400;
    color: #D278F2;
    font-family: "showcard Gothic";
    -webkit-text-stroke-width:7px;
    -webkit-text-stroke-color:black;
    font-style: normal;
     margin-bottom: 10rem;
    display: flex;


}
.fa-home{
    color:#D278F2;
   font-size: 3.5rem;
   padding-right: 2rem;
   margin-right: 85rem;
   margin-bottom: 0.2rem;
  -webkit-text-stroke-width:3px;
   -webkit-text-stroke-color: black;
}


/* Gallery */
.container{
    max-width: 1400px;
    margin-left: 355px;
    margin-top: 50px;
    margin-right: 355px;
    background: #e6dbeb;
    overflow: hidden;
   
}
.gallery{
    margin: 5px;
    border: 1.5px solid #09000c;
    float: left;
    width: 300px;
}
.gallery img{
    width: 80%;
    height: 100%;

}
.gallery img:hover{
    width: 130%;
    height: 120%;
}

/* Pet sale*/
h2{
    margin-top: 8%;
    text-align: center;
    font-family: "showed Gothic";
    width: 100%;
    color: #D278F2;
    font-size: 70px;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #501266;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(211, 189, 189, 0.4), rgba(148, 78, 78, 0.4)), url(https://www.hornsby.nsw.gov.au/__data/assets/image/0017/123623/pet-registration.jpg);
    background-size: cover;
    width: 1200px;
    left: 12%;
    background-position: center;
    height: 70vh;
    
}
.banner:hover{
    width: 1260px;
    height: 80vh;
}
.banner .content{
    max-width: 1000px;
    text-align: center;
}
.banner .content h3{
    font-size: 4rem;
    color: #020003;
}
.banner .content h3:hover{
    font-size: 5rem;
}
.banner .content p{
    font-size: 2rem;
    color: #040005;
}
.btn{
    font-size: 30px;
    color: #040005;
    background: #b985cc;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    
}
.btn:hover{
    letter-spacing: 6px;


}
/* Pet crossing */
.banner1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(216, 192, 192, 0.4), rgba(151, 89, 89, 0.4)), url(https://express-images.franklymedia.com/3922/2019/02/08125139/dog-love.jpg);
    background-size: cover;
    width: 1200px;
    left: 12%;
    background-position: center;
    height: 70vh;
    
}
.banner1:hover{
    width: 1260px;
    height: 80vh;
}
.banner1 .content{
    max-width: 1000px;
    text-align: center;
}
.banner1 .content h3{
    font-size: 4rem;
    color: #020003;
}
.banner1 .content h3:hover{
    font-size: 5rem;
}
.banner1 .content p{
    font-size: 2rem;
    color: #040005;

}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background:#3b3b3b;
    height: auto;
    width: 98.8vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 20px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2rem;
    font-weight: 800;
    text-decoration: capitalize;
    line-height: 3rem;
    font-family: showcard gothic;
    letter-spacing: 2px;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:black;
}
.footer-content p{
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    font-family: sans-serif;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
    
}
.socials li{
    margin: 0 30px;
    
}
.socials a{
    text-decoration: none;
    color: #fff;
      
}
.socials a i{
    font-size: 1.1rem;
}
.socials a:hover i{
    color: rgb(150, 58, 150);
}
.footer-bottom{
    background:#262626;
    width: 98.8vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

