*{
	background-color: #ffc0cb;
}

.body{
	margin-left: 40px;
margin-top: 20px;
margin-right: 32px;

}


#tp{
color: #ff1493;
 	font-family: "showcard Gothic";
font-size: 100px;
-webkit-text-stroke-width: 7px;
-webkit-text-stroke-color: black ;
text-align: center;
margin-top: -110px;

}
