*{
   margin: 0;
   padding: 0;
}
body{
    background-color: #e9d3ff;
    align-items: center;
}
/* sidebar */
.wrapper{
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    position: relative;

}
.wrapper .sidebar{
    position: fixed;
    width: 90px;
    height: 70%;
    background: #c9b6cf;
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #09010c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1.5px solid #c9c1c9;
    border-top: 1.5px solid #c634eb;
}
.wrapper .sidebar ul li a{
    color: #f5f2f7;
    display: block;
}
.wrapper .sidebar ul li a .fa{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: #68169e;
}
.wrapper .sidebar ul li:hover a{
    color: #c5a2e7;
}

section{
    min-height: 60vh;

}
/* Topic */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home .image{
    flex: 1 1 40rem;
}
.home .image img{
    width: 80%;
    height: 75vh;
    padding: 2%;
    margin-left: 80px;
}
.home .image img:hover{
    width: 90%;
    height: 80vh;
}
.home .content h1{
    margin-left: 130px;
    margin-top: 0.2px;
    text-align: center;
    font-size: 70px;
    font-family: "showcard Gothic";
    color: #fdfbfd;
	-webkit-text-stroke-width:5px;
	-webkit-text-stroke-color: black;
}
.home .content span{
    color: #ce81e7;
}
.home .content h3{
    color: #060008;
    font-size: 2rem;
    
}
.home .content h3:hover{
    font-size: 2.5rem;
}
.btn{
    display: inline-block;
    margin-top: 10%;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background: #bc8dce;
    color: #09000c;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1rm;

}
.btn:hover{
    background: #20022b;
    color: #edd7f5;
}

h1{
    font-size: 3rem;
    font-weight: 300px;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 2px;
    color: #16011d;
    text-shadow: 5px 3px 12px #0e0113;
}
/* Pet Crossing */
.container{
    position: relative;
    width: 1250px;
    margin-left: 100px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     
}
 .card{
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    box-shadow: 0 5px 15px #350c44;
    transition: 0.3s ease-out;
}

.card:hover{
    height: 300px;
    background: #d5aae4;
}
.card .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 5px 10px #3d064e;

}
 .card .imgbox img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 80%;
     display: block;
     transition: 0.5%;
    
}
.card .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: #cfbad6;
    color: #190125;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}
.card:hover .content{
    width: 100%;
    height: 85%;
    left: 0;
    bottom: 0;
    background: #f8f7f8;

}
.content p{
    margin: 5px 0 0;
    padding: 2em 2em;
    transform: translate(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}
.card:hover .content p{
    transform: translate(0);
    opacity: 1;
    
}
h2{
    text-align: center;
    font-size: 1.2rem;
}
.btn{
    display: inline-block;
    margin-top: 7%;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    background: #b072c9;
    color: #09000c;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.5rm;
    left: 45%;
}
.btn:hover{
    background: #20022b;
    color: #edd7f5;

}
/* From */
.pawback{
    background-image: url();
	display: flex;
    width: 100%;
    margin-left: 70px;
}
.back{
	width: 50%;
	height: 65vh;
	margin-top: 10%;
	margin-left: 2%;
	
	
}
.contactform{
	width: 30%;
	padding: 40px;
	background: linear-gradient(#c9c1c9,#b16bd1,#ad9db8,#9c33cc);
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom:10%;
	border-radius: 5%;
	text-decoration: underline;
	color: #702288;
}
.contactform h2{
	font-size: 30px;
	font-weight: 500;
	font-family: 'Acme', sans-serif;
	
}
.contactform .inputbox{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.contactform .inputbox input,.contactform .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid rgb(29, 28, 29);
	outline: none;
	resize: none;

}
.contactform .inputbox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
	
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
	color: #c634eb;
	font-size: 12px;
	transform: translateY(-20px);

}
.contactform .inputbox input[type="submit"]
{
	width: 100px;
	background:#570570;
	color: rgb(221, 206, 224);
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	border: 1px solid rgb(206, 179, 212);
	border-radius: 5%;
}
form{
	justify-content: center;
}
.contactform .inputbox input[type="submit"]:hover,
.contactform .inputbox input[type="submit"]:active{
	background-color: #0d010f;
}
/* Social Media */
footer{
    background: #09000c;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #e3d4e9;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer-content h3{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: none;
    color: #f5f2f7;

}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
socials a:hover i{
    color: #a78db1;
}
