*{
   margin: 0;
   padding: 0;
}
body{
    background-color: #e9d3ff; 
    font-family: 'Poppins';  
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color: #D278F2;
}
/* sidebar */
.wrapper{
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    position: relative;

}
.wrapper .sidebar{
    position: fixed;
    width: 115px;
    height: 100%;
    background: #dfcfe4;
    padding: 5px 0;

}
.wrapper .sidebar h2{
    color: #09010c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1.5px solid #2b052b;
    border-top: 1.5px solid #220629;
}
.wrapper .sidebar ul li a{
    color: #8d659b;
    display: block;
}
.wrapper .sidebar ul li p{
    color: #a78484;
}

.wrapper .sidebar ul li a .fa{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: #68169e;
}
.wrapper .sidebar ul li:hover a{
    color: #ffffff;
}
/* Head image*/
.hero{
    background: linear-gradient(rgba(153, 135, 135, 0.4), rgba(168, 132, 132, 0.4)),url(https://cdn.ttgtmedia.com/visuals/ComputerWeekly/Hero%20Images/pets-cats-dogs-adobe-hero.jpg);
    height: 60vh;
    width: 100%;
    margin-left: 100px;
    background-position: center;
    background-size: cover;
}
 .hero .content{
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d1ccd3;
    
}
.hero .content h1{
    font-size: 70px;
    font-weight: 400;
    font-family: "showcard Gothic";
    color: #cfa9dd;
	-webkit-text-stroke-width:7px;
	-webkit-text-stroke-color: black;

}
/* Categories */
.categories {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    
}
.categories h1{
    font-size: 3rem;
}
.row {
    margin-top: 4%;        
    display: flex;
    justify-content: space-between;
}
.categories-col {
    flex-basis: 42%;
    border-radius: 20px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 25px 15px;
    box-sizing: border-box;
    border: 1px solid #fbf8fd;

}
.categories-col img { 
    object-fit: cover;       
    width: 100%;
    height: 100%;
    display: block;
}   
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover {
    background: rgba(219, 152, 233, 0.7);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: rgb(15, 1, 15);
    font-size: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
h1{
    font-size: 3rem;
    margin-top: 70px;
    font-weight: 300px;
    margin-top: 2%;
    text-align: center;
    letter-spacing: 2px;
    color: #16011d;
    text-shadow: 5px 3px 12px #0e0113;
    
}
/* Pet Sale */
.container{
    position: relative;
    width: 1200px;
    margin-left: 140px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
 .card{
    position: relative;
    width: 240px;
    height: 250px;
    display: flex;
    padding: 1px;
    flex-direction: column;
    box-shadow: 0 5px 15px #350c44;
    transition: 0.3s ease-out;
}
.card:hover{
    height: 300px;
    background: #d5aae4;
}
.card .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 5px 10px #3d064e;

}
 .card .imgbox img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 80%;
     display: block;
     transition: 0.5%;
    
}
.card .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: #cfbad6;
    color: #190125;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}
.card:hover .content{
    width: 100%;
    height: 85%;
    left: 0;
    bottom: 0;
    background: #f8f7f8;

}
.content p{
    margin: 5px 0 0;
    padding: 2em 2em;
    transform: translate(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}
.card:hover .content p{
    transform: translate(0);
    opacity: 1;
    
}
h2{
    text-align: center;
    font-size: 1.2rem;
}
.card:hover{
    box-shadow: 0 0 5em #0d0011;
}
.btn{
    display: inline-block;
    margin-top: 7%;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    background: #fbf8fd;
    color: #09000c;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.5rm;
    left: 45%;
}
.btn:hover{
    background: #20022b;
    color: #edd7f5;
}
/* Social media */
footer{
    background: #09000c;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #e3d4e9;
    margin-left: 120px;
    margin-top: 60px;
    margin-right: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: none;
    color: #f5f2f7;

}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
socials a:hover i{
    color: #a78db1;
}
