*{
    background-color: #ffff4d;
}
    
.body{
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 32px;
}
      
#pp{
    color:  #ffcc00;
    font-family: "showcard Gothic";
    
    font-size: 100px;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: black ;
    text-align: center;
    margin-top: -110px;
}
 
.text1{
 
    margin-top: 80px;
    padding: 30px o;
    
}

.col-3{
    width: 100%;
    flex-basis: 50%; 
}

.col-3 .text1-img{
    padding: 25px;
}

.col-3 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-3 p {
    font-size: 25.2px;
}

small{
    color: #555;
    font-size: 20.2px;
}

olor: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px; 
    transition: background 0.5s;
}

.btn1 a{
    text-decoration: none;
}

.btn1:hover{
    background: #563434;
}
   
.row{
    display: flex;
    width: 100%;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit,minmax(30rem,5fr));
    align-items: start;
    padding-top: 90px;
    padding-left: 150px;
    padding-right: 80px;
}

.grid{
    background-color: white;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    transition: 0.2s;
}
 
.grid:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
}
    
.loca{
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
    
.content{
    padding: 3rem;
    background-color: white;
}

.title{
    font size : 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
    font-family: arial;
    text-align: center;
    background-color: white;
}
    
.un{
    font size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color:#3d3d3d;
    margin-bottom: 2rem;
    font-family: arial;
    background-color: white;
    
}
   
.text{
    font size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color:#3d3d3d;
    margin-bottom: 2rem;
    font-family: arial;
    background-color: white;
}

.btn{
    display: block;
    width: 100%;
    padding: 1rem;
    font size: 2rem;
    text-align: center;
    color: #33663ff;
    background-color: yellow;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
     
.btn a{
        text-decoration: none;
}
    
.btn span{
    margin-left: 1rem;
    transition: 0.2s;
}
    
.btn:hover,
    .btn:active{
    background-color:;
}

.btn:active span{
    margin-left: 1.5rem;
}
    
.icon{
    text-align: left;
    width: 40px;
    height: 30px;
    
}
    
 /*  Footer  */
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Itim&family=Open+Sans&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background:#001a4d;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
  
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
  
.footer-content h3{
  font-size: 2rem;
  font-weight: 800;
  text-decoration: capitalize;
  line-height: 3rem;
  font-family: showcard gothic;
  letter-spacing: 2px;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
}
 

















