html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #FFFCBB;
    font: 400 0.9375em/1.5 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #FFFCBB;
}

img {
    max-width: 100%;
}

.img-circle.center-cropped {
    width: 150px;
    height: 150px;
}

.center-cropped {
    width: 100%;
    height: 155px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
}

.image{
	flex-basis: 40%: 
}

.text{
   font-size: 15px;
   padding-left: 20px;
   color: #EDFF00FF;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   font-family: sans-serif;
   font-weight: 500;
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color:black;
    
}

p.text1{
	color: grey;
	font-size: 18px;

}

p {
    margin: 0 0 0.375em;
    orphans: 3;
    widows: 3;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.hide-mobile {
    display: none;
}
.hide-mobile {
    display: none;
}
.hide-mobile {
    display: none;
}

a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #9a89bb;
    text-decoration: none;
}

a {
    background: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

h3 {
    clear: both;
}

h3, .gamma {
    font-size: 1.2496875em;
    line-height: 1.200300075;
    margin-bottom: 1.1252813203em;
}

.gamma-container {
    height: 50px;
}

.gamma-gallery:before, .gamma-gallery:after {
    content: " ";
    display: table;
}

.gamma-gallery {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.gamma-description {
    background: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-position: outside;
}

element.style {
    width: 33.2248%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.gamma-gallery li {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    padding: 4px;
}

element.style {
    width: 33.2248%;
    display: block;
    position: absolute;
    top: 0px;
    left: 204.667px;
}

element.style {
    width: 33.2248%;
    display: block;
    position: absolute;
    top: 0px;
    left: 409.333px;
}

.about-me{
    font-size: 12px;

}

element.style {
    position: relative;
    height: 312px;
}

element.style {
    margin-bottom: 1.5em;
}

h1, .alpha, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
    color: #3e3e3e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;
    -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 1;
}

.grid {
    margin-left: -3em;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -1.5em;
}

.items_left hr, .items_left h3 {
    clear: both;
}

h3, .gamma {
    font-size: 1.6658334375em;
    line-height: 1.8009003376;
    margin-bottom: 0.8441720333em;
}

.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
    width: 50%;
}

.col {
    padding-left: 3em;
}

.one-whole {
    width: 100%;
}

.col {
    display: inline-block;
    margin-right: -.25em;
    padding-left: 1.5em;
    vertical-align: top;
    width: 100%;
}

.md-two-thirds, .md-four-sixths, .md-eight-twelfths, [role="main"].col {
    width: 1200px;
}

.one-fifth, .two-tenths {
    width: 10%;
}

.md-one-half, .md-two-quarters, .md-three-sixths, .md-four-eighths, .md-five-tenths, .md-six-twelfths {
    width: 50%;
}

element.style {
    width: 20px;
    margin-right: 10px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.items_left hr, .items_left h3 {
    clear: both;
}

hr {
    background: gainsboro;
    border: 0;
    height: 1px;
    line-height: 1.6;
    margin: 1.5em 0;
}

hr {
    border-style: inset;
    border-width: 1px;
}

#mapDiv {
    height: 100%;
    margin: 0;
    padding: 0;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

element.style {
    z-index: 1000002;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0px;
    left: -100000px;
    top: -100000px;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

style attribute {
    position: absolute;
    height: 350px;
    width: 250px;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
}

.text-right {
    text-align: right!important;
}

.inner {
    width: 800px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    
}










